__pycache__/
*.pyc
.venv/
.idea/
data/cifar-10-batches-py/
data/cifar-100-python/
data/stl10_binary/
data/tiny-imagenet-200/
data/mini_imagenet100/
results/*.txt
results/*.log
results/*/
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
data/*.tar.gz
data/*.zip
*.tar.gz
data/dtd/
data/flowers-102/
data/imagenet-100/
data/imagenet_folder/
